* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-section {
    position: relative;
    bottom: 0;
    top: 9.5rem;

    & .article-heading--ques {
        font-size: 3.4rem;
        padding-bottom: 3rem;
        color: #e97c00; 
        font-weight: 700;
        font-family: "Amaranth", sans-serif;
    }
    & .problem-statement {

        & .problem-heading {
             font-weight: 700;
            font-size: 3rem;
            color: #c9bebe;
        }
        & .example {
            padding-top: 2rem;
        }
        & .left-padding {
            padding-left: 2rem;
            padding-top: 1rem;
            font-size: 2.2rem;
            & .problem-head--para{
                font-size: 2.5rem;
            }
        }
        & .problem-asks{
            font-size: 2.5rem;
            color: #c9bebe;
        }
    }

   & .all-approach {
        padding: 5rem 0 0 0;
        list-style: none;
        flex-direction: column;
        gap: 0.8rem;
        color: #c9bebe;
        & .brute-force--heading{
            font-size: 3.4rem;
            font-weight: 600;
        }
        & .brute-force--para{
            font-size: 2.2rem;
        }
        & .brute-force--example{
            font-size: 2.6rem;
            font-weight: 600;
            color: #e95900;
        }
        & span{
            color: #e95900;
        }
        & li {
            flex-direction: column;
            gap: 0.1rem;
            
            & .approach-head--content {
                background-color: #181818;
                padding: 2.4rem;
                cursor: pointer;
                transition: all 0.17s linear;
                position: relative;
                align-items: center;
                justify-content: space-between;
                

                & .approach-heading {
                    font-size: 3rem;
                    color: #e96500;
                }
                & .icon-to-display .plus-icon,.cross-icon {
                    vertical-align: middle;
                    width: 3rem;
                    filter: invert(1);
                }
                & .icon-to-display .cross-icon {
                    display: none;
                    
                }
                &:hover {
                    background-color: #2e2e2e;
                }
            }
            
             & .code-explanation{
                font-size: 2.6rem;
                color: #e95900;
                font-weight: 600;
            }
            & .approach-content {
                padding: 2.4rem;
               background-color: #181818;
                display: none;
                transition: all 0.2s linear;
                box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

            }
        }
    }
}

/* define color to all content of question */
.left-padding .problem-head--para, .problem-points>li, .problem-points {
    color: #989898;
}

/* for suitable looking  */
.topics-content{
    display: none;
}
