@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* Base Rule Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
  }
    
  html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
  }
  
  body {
    height: 100vh;
    background-color: var(--bg-color);
    /* background:linear-gradient(127deg, rgb(34, 34, 34), rgb(68, 68, 68), rgb(143, 143, 143)); */
  }
  
  .container{  
      margin: 0 auto;
      padding: 2rem 4rem;
      max-width: 200rem;
  } 
  
  p,
  a, 
  h1,
  h2,
  h3,
  li {
      font-size: 1.8rem;
      color: var(--text-color);
      margin: 0;
  }
  

body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(203, 105, 105), rgb(32, 157, 220),rgb(195, 92, 69));
    border-radius: 20px;
}
  /* Base Rule end */
  
  
/*! **** theme START HERE *******/
:root {
  --text-color: #fff;
  --bg-color: #000000;
  --navbar-bg-color: #0f0f0f;
  --searchIcon-bg-color: #d1d1d1;
  --topic-link-color: #ada9ab;
  --topic-link--hover-color: #555454;
  --btn-color: #7171fe;
  --btn-hover-color: #3c4896;
  --navlink-hover-color: #8a8af8;
  --userprofile-bg-color:#d8d8d8;
  --userprofile-supporting-color: #1f1f1f;
  --hover-logout-color: #932818;
  --hero-heading-color: #dee3ef;
  --footer-bg-color: #202329;
  --footer-link-color:#B1BDC8;
  --footer-hover-color: #9d9dd1;
  --footer-copyright-color:#84909D;
}
/*! **** theme End HERE *******/




  
  /* Layout start here */
  .flex{
     display: flex;
  }
  .grid {
    display: grid;
  }
  .grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-four--cols {
    grid-template-columns: 1.9fr repeat(3, 1fr);
  }
  /* Layout end here */
  
  
  
  
  /* reusable code start */
  
  /* reusable code end */
  
  
  
  
  
  
  
  /*------- navbar start here-------- */
   
header {
  position: relative; 
  .nav-container {
    position: fixed;
    top: 0;
    background-color: var(--navbar-bg-color);
    z-index: 9;
    padding:1rem 10rem;
    box-shadow: #6674cc40 0px 4px 10px;
    
    align-items: center;
    justify-content: space-between;
    
    & .nav-logo {
      cursor: pointer;
      width: 19rem;    
    }
      
      & .navbar-search {
        display: flex;
        justify-content: space-evenly;
        width: 33rem;
        height: 5rem;
      
      & .nav-input {
        width: 100%;
        font-size: 1.7rem;
        padding-left: 2.3rem;
        border: none;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        outline: none;
      }

      & .nav-botton {
        width: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        border: none;
        font-size: 2.3rem;
        background-color: var(--searchIcon-bg-color);
      } 
    }
    
    & .navbar-list {
      gap: 2rem;
      list-style: none;
      margin: 0;
      
      & .drop-one {
        align-items: center;
        justify-content: center;
      }

      & .navbar-link {
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        color: var(--text-color);
        transition: all 0.3s;
        
        
      }
      & a {
        padding: 1rem 2rem;
        
      }
      
      & .topics-section {
        gap: 1rem;
        align-items: center;
        position: relative; /* specific reason */
        & .topics-btn{
          align-items: center;
          justify-content: center;
              & a {
                padding-right: 6px;
              }
              & button {
                  background: transparent;
                  border: none;
                  & .nav-dropdown{
                    padding-top: 2px;
                    color: var(--text-color);
                  }
                }
              }
              
              & .topics-content {
                /* opacity: 0; */
              width: 39.5rem;
              height: auto;
              background: #1f1f1f;
              /* border: 2px solid rgb(42, 42, 42); */
              border-radius: 0.7rem;
              /* display: none; */
              position: absolute;
              top: 104%;
              left: 1rem;
              box-shadow: rgb(38, 57, 77) 0px 3px 10px 1px;
              /* box-shadow: rgb(38, 57, 77) 1px 3px 15px 0px; */
              
              & .topics-list {
                flex-wrap: wrap;
                gap: 2rem;
                  align-items: center;
                  justify-content: center;
                  padding: 2rem 1rem;
                  list-style: none;
                  & .DSA-topic--heading {
                    text-decoration: none;
                    color: var(--topic-link-color);
                    transition: all 0.2s linear;
                    text-transform: capitalize;
                    font-size: 1.4rem;
                  }
                  & :hover {
                    color: var(--topic-link--hover-color);
                  }
                }
          }

      }
      
      & .navbar-link:hover {
        /* color: #ada9ab; */
        color: var(--navlink-hover-color);
      }
      
      & .login {
        background-color: var(--btn-color);
        border-radius: 3rem;
        transition: all 0.15s linear;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: flex;
        /* display: none; */

        &:hover {
          background-color: var(--btn-hover-color);
          & a {
            color: var(--text-color);
          }
        }
      }
      & .user-profile figure {
        position: relative;
        margin: 0;

        & img {

          padding: 1rem;
          border-radius: 50%;
          background-color: var(--userprofile-bg-color);
          cursor: pointer;
          filter: invert(1);
        }

        & .profile-section {
          display: none;

          position: absolute;
          left: -20px;
          top: 105%;
          width: 14rem;
          padding: 1rem;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: var(--userprofile-supporting-color);
          border-radius: 1rem;
          box-shadow: rgba(102, 116, 204, 0.25) 0px 4px 10px;

          & .user {
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin: 0.6rem;
            cursor: pointer;
            
            & i {
              font-size: 1.7rem;
            }
            & p {
              font-size: 1.4rem;
            }

            /* Hover effect of profile icons */
            &:nth-child(1) {
              transition: all 0.1s linear;
              &:hover {
                color: var(--btn-hover-color);
              }
            }
            &:nth-child(2) {
              transition: all 0.1s linear;
              &:hover {
                color: var(--hover-logout-color);
              }
            }
          }

          
          
        }

        
      }
    } 
    
  }   
}
  
/*------- navbar section end here-------- */
  


    
/* hero section css start here */
.hero-main--section {
    margin-top: 8rem;
    gap: 3rem;
    padding-top: 7rem;
    & img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    & .hero-container {
        padding-top: 8rem;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* position: relative;
        top: 30%; */
   /* &h3{
    font-size: 7em;
    }*/
    gap: 3rem;
    
    
    & .hero-heading{
        text-align: center;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        font-size: 10em;
        color: var(--hero-heading-color);
        font-family: kaushan script;
        /* width: 39%;
        height: 88%; */
        padding-bottom: 3rem;
        
    }
    & .hero-para{
        width: 80%;
        text-align: start;
        font-family: "Poppins", sans-serif;
        /* width: 100%; */
        font-size: 2.1em;
        font-weight: 400;
        /* position: relative;
        left: 28%;
        top: 32%; */
        color: var(--text-color);
    }
    
    /* & .button {
        
    } */
    & button{
        /* display: flex; */
        align-items: center;
        justify-content: center;
        /* position: relative;
        top: 36%; */
        padding: 1.6rem 3.7rem;
        font-size: 3rem;
        font-weight: 600;
        border-radius: 8rem;
        border: none;
        background-color: var(--btn-color);
        color: var(--text-color);
        transition: all 0.1s linear;

        &:hover {
          background-color: var(--btn-hover-color);
        }
    } 
}
}
/* hero section code end here */






/* section heading animation part start*/
.header-overflow {
  overflow: hidden;
  /* animation: animate ; */
  position: relative;
  
  & .page{
      height:21%;
      width: 100%;
      background-color: var(--bg-color);
      padding-top: 10rem;
      
      & .loop{
          display: flex;
          position:relative;
          height: 25%;
          width: 50%;
          font-size: 20rem;
          white-space: nowrap;
          
          & h1{
              color: var(--text-color);
              font-weight: 400;
              font-size: 15rem;
              animation: anim 15s linear infinite;
              /* animation-name: anim;
              animation-duration: 15s;
              animation-timing-function: linear;
              animation-iteration-count: infinite; */
              font-family: kaushan script;
              & span{
                  -webkit-text-stroke: 1.2px #f7f7f7;
                  color: transparent;
                  font-weight: 500;
                  font-family: karantina;
              
              }
          }
      }
  }
}

@keyframes anim{
  0%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-100%);
  }
} 
/* section heading animation part end */





/* section image animation part start */
.section-image--animation{
  padding: 14rem 0rem 5rem;
  /* height: 100%;
  width: 100%; */
  & .container{
     display: flex;
     justify-content: space-between;
     /* position: relative; */
     gap: 4rem;
  
  & .card{
     /* height: 35rem; 
     width: 50rem;*/
     position: relative;
     animation-name: ani;
     animation-duration: 6s;
     animation-timing-function: linear;
     /* animation-iteration-count:infinite; */
  }
  
  & .card1{
      /* display: flex; */
      align-items: center;
      justify-content: center;
      /* padding-top:1rem ; */
  }
  & img{
      height: 33rem;
      width: 100%;
  }
}  
}

@keyframes ani{
  0% {
      transform: translateX(-200%); /* Start from outside the viewport on the right */
  }
  50% {
      transform: translateX(-100%); /* Move to the far left, out of the viewport */
  }
  100% {
      transform: translateX(0%); /* Keep it out of the view */
  }
}
/* section image animation part end */




/* section about us start here */
.section-aboutUs{
  /* height: 100%;
  width: 100%; */
  & .container-page1{
      /* display: flex; */
      justify-content: space-evenly;
      
      & .card2{
         height: 50rem;
         width: 45rem;
         background-color: var(--text-color);
         border-radius: 5rem;
         /* display: flex; */
         justify-content: center;
         align-items: start;
         & .cd{
             background-color: var(--bg-color);
             height: 50rem;
             width: 42rem;
             border-radius: 5rem;
             & h1{
                 text-align: center;
                 padding-top: 2rem;
                 color: #f7f7f7;
                 font-size: 5rem;
                 font-family: "kaushan Script",cursive;
             }
             & h3{
                 text-align: center;
                 padding-top: 4rem;
                 color: #f7f7f7;
                 font-size: 6rem; 
                 font-family: "Karantina", system-ui ;
             }
         }
      } 

      .card3{
         height: 50rem;
         width: 45rem;
         background-color: var(--text-color);
         border-radius: 5rem;
         /* display: flex; */
         justify-content: center;
         & .cd{
             background-color: var(--bg-color);
             height: 50rem;
             width: 42rem;
             border-radius: 5rem;
             & h1{
                 text-align: center;
                 padding-top: 2rem;
                 color: #f7f7f7;
                 font-size: 5rem;
                 font-family: "kaushan Script",cursive;
             }
             & h3{
                 text-align: center;
                 padding-top: 4rem;
                 color: #f7f7f7;
                 font-size: 6rem; 
                 font-family: "Karantina", system-ui ;
             }
         }
      } 

  }

}
/* section about us end here */





/* section Sign up start */
.section-signUp{
  /* height: 80%;
  width: 100%; */
  gap: 10rem;
  padding-top: 10rem;
  /* background-color: aqua; */
  /* background: linear-gradient(130deg, aqua , white); */
  /* overflow: hidden; */


   & .signUp-content{
       height: 100%;
       width: 100%;
       flex-direction: column;
       gap: 0.5rem;
       align-items: center;
       justify-content: center;
       background-color: #e9edef;
       border-radius: 30rem 1rem;
       padding: 3rem 0 ;

       & .heading{
           /* display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column; */
           
           text-align: center;
           color: var(--bg-color);
           font-size: 2rem;
           font-family: "kanit";
           padding-top: 2rem;

           & span{
               font-size: 3rem;
               color: #e33a6d;
               font-family: "Alatsi";
               font-weight: 600;
           }
       }
       & .maintain{
           padding-top: 3rem;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           gap: 3rem;
           width: 100%;

           & .username{
               /* width: 56%; */
               align-items: center;
               justify-content: space-between;
               /* gap: 1rem; */
               
               /* & .labelFix-width {
                   width: 9rem;
               } */
               & label{
                   /* padding-right: 1.1rem; */
                   font-size: 1.5rem;
                   font-family: "Kanit";
                   width: 7rem;
               }
               & input{
                   border: none;
                   padding: 1rem 9rem;
                   text-align: start;
               }
               
           } 
           & .email{
               /* width: 56%; */
               align-items: center;
               justify-content: space-between;
               /* gap: 1rem; */

               & label{
                   /* padding-right: 3.1rem ; */
                   font-size: 1.5rem;
                   font-family: "Kanit";
                   width: 7rem;
               }
               & input{
                   border: none;
                   padding: 1rem 9rem;
                   text-align: start;
               }
           } 
           & .password{
               /* width: 56%; */
               align-items: center;
               justify-content: space-between;
               
               & label{
                   width: 7rem;
                   /* padding-right: ; */
                   font-size: 1.5rem;
                   font-family: "Kanit";
               }
               & input{
                   padding: 1rem 9rem;
                   text-align: start;
                   border:3rem black ;
               }
               & .lock{
                   height: 2rem;
                   width: 2rem;
                   position: relative;
                   top: 45%;
                   left: 5%;
               }
               & h3{
                   position: relative;
                   left:75%;
                   color: #e33a6d;
               }
           }

       }

       .forgetPass {
           width: 56%;
           text-align: end;
           color: #e33a6d;
       }

       & .sign-up{ 
           /* position: relative;
           left: 38%; */
           padding-top: 3rem;

           & button {
               border-radius: 3rem;
               border: none;
               padding: 1.6rem 4.5rem;
               background-color: #e33a6d;
           }

           & .sign{
               font-size: 2rem;
               color: #f7f7f7;
           }
       }

   }

& .right-image{
   height: 100%;
   width: 100%;
   & img{
       width: 100%;
       height: 100%;
   }
}

}

/* section Sign up end */







/* footer section start here */

footer .footer-logo--para , .quick-links, .useful-notes , .contact-us {
  flex-direction: column;
}

footer .section-footer {
  background-color: var(--footer-bg-color);
  padding-bottom: 1rem;
  & .copyright {
    text-align: center;
    color: var(--footer-copyright-color);
    font-size: 1.7rem;
    font-weight: 700;
  }
  
  & .section-footer--part {
    gap: 1rem;
    padding: 6rem 10rem 2rem;
    margin-top: 9rem;
    
    & .footer-logo--para {
      align-items: center;
      justify-content: start;
      
      & img {
        width: 19rem;
      }
      & p {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
      }
    }
    
    & .footer-links {
      list-style: none;
      gap: 0.4rem;
      padding: 0;
      
      & p {
        font-weight: 600;
        padding-bottom: 0.4rem;
      }
      
      & li a {
        color: var(--footer-link-color);
        font-size: 1.5rem;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s linear;
        
        
        &:hover {
          color: var(--footer-hover-color);
        }
      }
      
    }

    & .notes-section {
      & p {
        padding-bottom: 0.8rem;
      }

      & .useful-notes {
        width: 60%;
        height: 11.5rem;
        overflow-x: auto;
      }
    }
    
    & .contact-us {

      & .contact-gmail {
        gap: 0.75rem;
        & .gmail {
          text-decoration: none;
          color: var(--footer-link-color);
          cursor: pointer;
        }
      }

      & .contact-links {
        gap: 1rem;
        padding-top: 0.3rem;

        & img {
          width: 2rem;
          cursor: pointer;
        }
      }
    }
    
  }
}






